<!DOCTYPE HTML>
<!-- 

                                                   .__                   
   __  _  ____ __  ________ __  ______  _  __ ____ |__|    _____   ____  
   \ \/ \/ /  |  \/  ___/  |  \/  _ \ \/ \/ // __ \|  |   /     \_/ __ \ 
    \     /|  |  /\___ \|  |  (  <_> )     /\  ___/|  |  |  Y Y  \  ___/ 
     \/\_/ |____//____  >____/ \____/ \/\_/  \___  >__| /\__|_|  /\___  >
                      \/                         \/     \/     \/     \/ 

-->

<html>
<HEAD>
  <title>{{ site.title }}|{{ site.description }}</title>
  {% include header.html %}
  <meta content="{{ site.headdesc }}" name="description"/>
  <meta content="{{ site.headkeys }}" name="keywords"/>
</HEAD>
<body>

<div class="container">

{% include banner.html %}

<div class="main clearfix">
{{ content }}
</div>
</div>

{% include footer.html %}
</body>
</html>

